@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background: url("images/Decore.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px 60px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
}

#logo {
    width: 100%;
    max-width: 114.91px;
    max-height: 34px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    position: relative;
    list-style: none;
    margin-right: 10vh;
    font-size: 1.0350em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #212832;
    cursor: pointer;
}

.nav-links-animation::before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 50px;
    height: 5px;
    background-color: #F1A501;
    border-radius: 4px;
    display: none;
    transition: 0.5s ease-in-out;
    animation: nav 0.3s;
}

@keyframes nav {
    0% {
        width: 0px;
    }
    100% {
        width: 50px;
    }
}

.nav-links-animation:hover::before{
    display: inline;

}

.login-link {
    margin-left: 5vw;
}

.signup-link {
    border: 1.5px solid #212832;
    padding: 7px 17px;
    border-radius: 5px;
    margin-left: -5vh;
    margin-right: 0;
    transition: .25s;
}

.signup-link:hover {
    background-color: #212832;
    color: #ffffffec;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.title {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1075em;
    color: #DF6951;
    font-weight: 700;
    letter-spacing: 0px;
}

.hero-text {
    font-family: 'Volkhov', serif;
    font-size: 5em;
    letter-spacing: -4px;
    line-height: 89px;
    width: 545px;
    height: 267px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 20px;
}

.underline {
    position: relative;
}


.underline:before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: -30px;
    background: url('images/Decore2.png');
    width: 385px;
    height: 12px;
    z-index: -10;
}

.info-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    width: 477px;
    height: 90px;
    color: #5E6282;
    line-height: 30px;
    margin-bottom: 40px;
}

#hero-img {
    width: 100%;
    max-width: 783px;
    max-height: 764px;
}



.cta-btn {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.938em;
    color: #FFF;
    padding: 15px 23px;
    background-color: #F1A501;
    border-radius: 10px;
    box-shadow: 0 20px 35px 0 #f1a50162;
    margin-right: 50px;
}

.cta-btn:hover {
    background-color:#f1a501b2 ;
}

.play {
    position: relative;
    text-decoration: none;
    font-size: 0.938em;
    color: #686D77;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    font-weight: 600;
}

.play::before {
    content: "▶";
    position: absolute;
    left: -55px;
    top: -10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #DF6951;
    box-shadow: 0 15px 30px #df695177;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .2s;
}

.play:hover::before {
    background: #df6951b9;
    content: "⏸︎";
    font-size: 1.438em;
    padding-bottom: 6px;
}

.services {
    margin-top: 4vh;
    margin-bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 153px;
    height: 166px;
    background: url('images/Group4.png');
}


.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #5E6282;
    font-size: 1.125em;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-header {
    font-family: 'Volkhov', serif;
    font-size: 3.125em;
    font-weight: 700;
    letter-spacing: 0px;
    margin-bottom: 10vh;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 267px;
    height: 314px;
    padding: 0 0px;
    background-color: #fff;
    margin-right: 3.5vw;
    border-radius: 36px;
    margin-bottom: 40px;
}

.card-items:last-child {
    margin-right: 0px;
}

.card-items::before {
    content: '';
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 100px;
    height: 100px;
    background-color: #DF6951;
    border-radius: 30px 0 10px 5px;
    z-index: -11;
    display: none;
    transition: .5s;
    animation: height .5s;
}

@keyframes height {
    0% {
        height: 0px;
    }
    100% {
        height: 100px;
    }
}



.card-items:hover::before {
    display: inline;
    
}

.card-items:hover {
    box-shadow: 0 100px 80px 0 hsla(0, 0%, 0%, 0.030),
    0 64.81px 46.85px 0 hsla(0, 0%, 0%, 0.025),
    0 38.52px 25.48px 0 hsla(0, 0%, 0%, 0.020),
    0 20px 13px 0 hsla(0, 0%, 0%, 0.015),
    0 8.15px 6.52px 0 hsla(0, 0%, 0%, 0.010),
    0 3.15px 80px 0 hsla(0, 0%, 0%, 0.005);
}


.card-icons {
    width: 100%;
    width: 92.25px;
    height: 78.5px;
    margin-bottom: 35px;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    color: #1E1D4C;
}

.card-desc {
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    font-size: 1em;
    text-align: center;
    padding: 15px 40px;
}

.destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8vh;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 4vw;
    border-radius: 0 0 24px 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    padding-bottom: 39px;
    box-shadow: 0 100px 80px 0 hsla(0, 0%, 0%, 0.030),
    0 64.81px 46.85px 0 hsla(0, 0%, 0%, 0.025),
    0 38.52px 25.48px 0 hsla(0, 0%, 0%, 0.020),
    0 20px 13px 0 hsla(0, 0%, 0%, 0.015),
    0 8.15px 6.52px 0 hsla(0, 0%, 0%, 0.010),
    0 3.15px 80px 0 hsla(0, 0%, 0%, 0.005);
    cursor: pointer;
    transition: .3s;
}


.flex-item:hover {
    transform: scale(1.05);
    box-shadow: 0 100px 80px 0 hsla(0, 0%, 0%, 0.040),
    0 64.81px 46.85px 0 hsla(0, 0%, 0%, 0.035),
    0 38.52px 25.48px 0 hsla(0, 0%, 0%, 0.030),
    0 20px 13px 0 hsla(0, 0%, 0%, 0.025),
    0 8.15px 6.52px 0 hsla(0, 0%, 0%, 0.020),
    0 3.15px 80px 0 hsla(0, 0%, 0%, 0.015);
}

.card-img{
    margin-bottom: 20px;
    border-radius: 24px 24px 0 0;
}

.navigate-icon {
    width: 100%;
    max-width: 25px;
}

.loc-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight:600;
    display: inline;
    color: #5E6282;
    font-size: 1.125em;
}

.location {
    margin-right: 100px;
}

.navigate-icon {
    vertical-align: middle;
    margin-right: 10px;
}
.trip-duration {
    margin-top: 18px;
    vertical-align: middle;
    color: #5E6282;
    font-size: 1em;
    font-weight: 500;
}

.book-now {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.icon-box {
    width: 45px;
    padding: 10px;
    border-radius: 13px;
    margin-right: 25px;
    vertical-align: middle;
}

#compass {
    background-color: #F0BB1F;
}

#cash {
    background-color: #F15A2B;
}

#car {
    background-color: #00628081;
}

.acc-contentbox h3 {
    width: 500px;
}

.acc-wrapper {
    display: flex;
    justify-content:left;
    align-items:center;
    width: 400px;
    margin-bottom: 40px;
}

.acc-image {
    width: 100%;
}

.acc-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #5E6282;
    margin-bottom: 14px;
}

.acc-info {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #5E6282;
}

.newsletter-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 40px;
    background-color: #f9f8ffe8;
    border-radius: 40px 40px 10px 10px;
    min-height: 50vh;
    /* overflow: hidden; */
    box-shadow: -15px 20px 40px 0 hsla(0, 0%, 0%, 0.055);
}

.newsletter-section::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -70px;
    width: 361px;
    height: 480px;
    background: url('images/MaskGroup.png');
    transform: rotate(9deg);
}

.newsletter-section::after {
    content: '';
    position: absolute;
    top: -55px;
    right: -59px;
    width: 361px;
    height: 480px;
    background: url('images/MaskGroup.png');
    background-repeat: no-repeat;
    transform: rotate(-90deg);
}


.newsletter-title {
    width: 800px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    text-align: center;
    color: #5E6282;
    padding-bottom: 45px;
}

.input-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email-icon {
    width: 20px;
    position: absolute;
    top: 13px;
    left: 19px;
}

#subscribe {
    padding: 15px 50px 15px 50px ;
    border: none;
    outline: none;
    border-radius: 10px;
}

#subscribe::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875em;
    color: #39425D;
    font-weight: 600;
}

.wrapup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {

    margin-left: 20px;
    padding: 15px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #FFF;
    font-weight: 600;
    border:none;
    background-color: #FF946D;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: #fda281;
}

.send-icon {
    display: grid;
    place-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #747DEF;
    top: -13px;
    right: -13px;
    border-radius: 50%;
}

.send-icon > img {
    width: 30px;
    height: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-navs {
    margin-right: 40px;
}







.nav-wrapper5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}